body{

}
body{
    font-family: 'Playfair Display', serif;
}

.navbar{
    background-color: whitesmoke;
    height: 15vh;
    width: 100%;
    padding:30px 10%;
}
.logo-nav{
    color: black;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    margin-top: 1vh;
    font-size: 4vh;
}
.logo-nav a{
    color: black;
    letter-spacing: 10px;
}
.nav-items{
    display: flex;    
    justify-content: center;
    list-style: none;
    padding-top: 1vh;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 20px;
    align-items: center;
}
.nav-items li{
    margin-right: 2vh;
}
.nav-items ul{
    list-style:none;
}
.nav-item ul li a{
    color: black;
}